/postgres-keycloak-data
2024__yandex-architecture-sso.code-workspace
/api/.vs/api/config/applicationhost.config
/api/.vs/api/DesignTimeBuild/.dtbcache.v2
/api/.vs/api/FileContentIndex/070ec05d-764b-4e66-9d9a-c8dace08ecb5.vsidx
/api/.vs/api/FileContentIndex/a5e5a24a-8ba1-4b9b-9a4b-55cfc90aabb6.vsidx
/api/.vs/api/v17/.futdcache.v2
/api/.vs/api/v17/.suo
/api/.vs/architecture-sprint-8-api/config/applicationhost.config
/api/.vs/architecture-sprint-8-api/DesignTimeBuild/.dtbcache.v2
/api/.vs/architecture-sprint-8-api/FileContentIndex/27f4a99f-8574-43b5-8985-a0e7b7357bb4.vsidx
/api/.vs/architecture-sprint-8-api/FileContentIndex/4c0d94e3-4efc-45d3-b751-6b045cc56c69.vsidx
/api/.vs/architecture-sprint-8-api/FileContentIndex/d539399c-6969-4f0d-84b4-9ca5265ec198.vsidx
/api/.vs/architecture-sprint-8-api/v17/.futdcache.v2
/api/.vs/architecture-sprint-8-api/v17/.suo
/api/.vs/architecture-sprint-8-api/v17/DocumentLayout.backup.json
/api/.vs/architecture-sprint-8-api/v17/DocumentLayout.json
/api/.vs/ProjectEvaluation/api.metadata.v9.bin
/api/.vs/ProjectEvaluation/api.projects.v9.bin
/api/.vs/ProjectEvaluation/api.strings.v9.bin
/api/.vs/ProjectEvaluation/architecture-sprint-8-api.metadata.v9.bin
/api/.vs/ProjectEvaluation/architecture-sprint-8-api.projects.v9.bin
/api/.vs/ProjectEvaluation/architecture-sprint-8-api.strings.v9.bin
/api/obj/api.csproj.nuget.dgspec.json
/api/obj/api.csproj.nuget.g.props
/api/obj/api.csproj.nuget.g.targets
/api/obj/Container/ContainerDevelopmentMode.cache
/api/obj/Container/ContainerId.cache
/api/obj/Container/ContainerName.cache
/api/obj/Container/ContainerRunContext.cache
/api/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/api/obj/Debug/net8.0/api.AssemblyInfo.cs
/api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
/api/obj/Debug/net8.0/api.assets.cache
/api/obj/Debug/net8.0/api.csproj.AssemblyReference.cache
/api/obj/Debug/net8.0/api.csproj.FileListAbsolute.txt
/api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
/api/obj/Debug/net8.0/api.GlobalUsings.g.cs
/api/obj/Debug/net8.0/apphost.exe
/api/obj/project.assets.json
/api/obj/project.nuget.cache
/api/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/api/obj/Release/net8.0/api.AssemblyInfo.cs
/api/obj/Release/net8.0/api.AssemblyInfoInputs.cache
/api/obj/Release/net8.0/api.assets.cache
/api/obj/Release/net8.0/api.csproj.AssemblyReference.cache
/api/obj/Release/net8.0/api.csproj.CoreCompileInputs.cache
/api/obj/Release/net8.0/api.csproj.FileListAbsolute.txt
/api/obj/Release/net8.0/api.csproj.Up2Date
/api/obj/Release/net8.0/api.dll
/api/obj/Release/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
/api/obj/Release/net8.0/api.genruntimeconfig.cache
/api/obj/Release/net8.0/api.GlobalUsings.g.cs
/api/obj/Release/net8.0/api.pdb
/api/obj/Release/net8.0/api.sourcelink.json
/api/obj/Release/net8.0/apphost.exe
/api/obj/Release/net8.0/ref/api.dll
/api/obj/Release/net8.0/refint/api.dll
/kill.bat
/start.bat
